@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.body {
  @apply m-0 p-0 bg-gradient-to-tr from-gray-900 to-gray-800 text-white flex flex-col min-h-screen;
}

.main_input_section {
  @apply justify-start text-center align-middle flex flex-col flex-grow mt-20 mx-6;
}
.input_box {
  @apply h-48 w-96 text-black bg-gray-300 p-1;
}
.submit_btn {
  @apply bg-green-700 border-none text-white px-8 py-4 text-center;
  @apply cursor-pointer text-base m-1 font-bold rounded-full;
  transition-duration: 0.4s;
}
.submit_btn:hover {
  background-color: #45a049;
}
.header {
  @apply bg-gray-950 text-white text-xl w-full flex justify-between h-16;
}
.footer {
  @apply p-4 bg-gray-950 h-16 text-start flex items-center justify-between;
}
.sidebar {
  @apply min-w-[284px] mt-16;
}

h1 {
  @apply text-slate-200 font-extrabold;
}

h2 {
  @apply text-slate-200 font-semibold text-lg;
}

p {
  @apply text-slate-200 font-serif;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  @apply rounded-full w-6 h-6 m-auto;
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  animation: spin 2s linear infinite;
}

.main_content {
  @apply flex-grow flex flex-row overflow-auto h-full;
}

.report {
  @apply text-white whitespace-pre-line;
}
.landing-banner {
  @apply p-9;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
